*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Helvetica Inserat";
}
main{
	height: 100%;
	width: 1230px;
	/*background: rgba(210,210,210,0.5);*/
	margin-left: 45px;
	/*overflow: hidden;*/
}
.advertisement a{
	display: block;
	width:100%;
	overflow: hidden;
}
/*******************字体*****************/
@font-face {
	font-family: 'iconfont';  /* project id 353146 */
	src: url('http://at.alicdn.com/t/font_sym4d1uxwnfgk3xr.eot');
	src: url('http://at.alicdn.com/t/font_sym4d1uxwnfgk3xr.eot?#iefix') format('embedded-opentype'),
	url('http://at.alicdn.com/t/font_sym4d1uxwnfgk3xr.woff') format('woff'),
	url('http://at.alicdn.com/t/font_sym4d1uxwnfgk3xr.ttf') format('truetype'),
	url('http://at.alicdn.com/t/font_sym4d1uxwnfgk3xr.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
	color: #fff;
	font-size: 15px;

}
.iconfont1{
	font-family: 'iconfont';
	color: #787878;
	font-size: 14px;
	padding-right: 7px;
}
.iconfont2{
	font-family: 'iconfont';
	color: #d3d3d3;
	position: absolute;
	right: 12px;
	top: 18px;
}
.iconfont3{
	display: block;
	font-family: 'iconfont';
	font-size: 25px;
	transition:all 0.3s;
	color: 
}
.iconfont4{
	font-family: 'iconfont';
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.iconfont5{
	font-family: 'iconfont';
	color: #ff1717;
}
/****************头部*******************/
header{
	height: 32px;
	width: 100%;
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
}
/***************搜索**********************/
.search{
	// padding-top: 50px;
	width: 100%;
	height: 130px;
	// background: #aaa;
	overflow: hidden;
}
.search img{
	height: 130px;
	width: 240px;
	margin-left: -20px;
}
.search-left,.search-right{
	float: left;
}
.search-right{
	margin-left: 100px;
	margin-top: 38px;
	width: 630px;
	/*// height: 60px;*/
	/*// background: #000;*/
}
.search-right li{
	float: left;
	margin-top: 5px;
	padding: 0px 13px 0;
	font-size: 14px;
	border-right: 1px solid #cccccc;
}
.search-right li a{
	color: #999999;
}

.search-right li:first-child{
	padding-left: 0px;
}
.search-right li:last-child{
	border: none;
}
.search-right li:nth-child(1) a,.search-right li:nth-child(4) a,.search-right li:nth-child(7) a,.search-right li:nth-child(9) a{
	color: #ff0036;
}
.search-right .li-size-color ul li a{
	color: #ff0036;
}
.search-text{
	width: 491px;
	height: 40px;
	border: 2px solid #FF0036;
	outline: none;
	padding-left: 5px;
	float: left;
	font-size: 14px;
	color: #636464;
	font-weight: 100;
}

.search-btn{
	width: 126px;
	height: 44px;
	background: #FF0036;
	border: 2px solid #FF0036;
	outline: none;
	float: left;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
/***************导航**********************/
.daohang{
	height: 36px;
	width: 100%;
	background: #FF0036;
}
.daohang-left{
	width: 190px;
	height: 36px;
	background: #E22127;
	color: #fff;
	font-size: 15px;
	padding-left:10px; 
	/* text-align: center;*/
	line-height: 36px;
}
.daohang-right{
	height: 35px;
	width: auto;
	/* background: #DD2727;*/
	/*// overflow: hidden;*/
}
.daohang-right ul li img{
	height: 36px;
}
.daohang-right ul li a{
	color: #fff;
}
.daohang-right ul li{
    /*background: #F76760;*/
	float: left;
	margin-left: 25px;
	line-height: 36px;
	font-size: 15px;
	position: relative;
	z-index: 99;
}
.daohang-right ul li:hover .downtop{
	top: -10px;
	opacity: 1;
}
.daohang-right ul li:nth-child(3) .downtop{
	left: 20%;
}
.daohang-right ul li:last-child .downtop，.daohang-right ul li:nth-child(11) .downtop{
	left: 15px;
}
.daohang-right ul li:nth-child(1) .downtop,.daohang-right ul li:nth-child(2) .downtop{
	left: 35%;
}
.downtop{
	background: url('../img/TB1Y87GRXXXXXcOXpXXXXXXXXXX-40-15.png') no-repeat;
	background-size: 40px 15px;
	position: absolute;
	top: 0;
	left: 4px;
	z-index: 1;
	width: 40px;
	height: 15px;
	transition: all 0.3s;
	opacity: 0;
}
.daohang-left,.daohang-right{
	float: left;
}
/***************轮播**********************/
nav{
	height: 500px;
	width: 100%;
	position: relative;
}
aside{
	width: 200px;
	height: 500px;
	background: #EDEDED;
	float: left;
	position: absolute;
	z-index: 88;
}


aside ul li{
	width: 187px;
	height: 31px;
	font-size: 14px;
	color: #424242;
	line-height: 31px;
	padding-left: 13px;
	font-weight: bold;
}

aside .lia:hover{
	background: #fff;
}
aside .asideul .lia:first-child:hover .cobg,aside .asideul .lia:first-child:hover,aside .asideul .lia:first-child:hover .iconfont1{
	color: #e54077;
}
aside .asideul .lia:nth-child(2):hover .cobg,aside .asideul .lia:nth-child(2):hover,aside .asideul .lia:nth-child(2):hover .iconfont1{
	color: #427def;
}
aside .asideul .lia:nth-child(3):hover .cobg,aside .asideul .lia:nth-child(3):hover,aside .asideul .lia:nth-child(3):hover .iconfont1{
	color: #6347ed;
}aside .asideul .lia:nth-child(4):hover .cobg,aside .asideul .lia:nth-child(4):hover,aside .asideul .lia:nth-child(4):hover .iconfont1{
	color: #e54077;
}
aside .asideul .lia:nth-child(5):hover .cobg,aside .asideul .lia:nth-child(5):hover,aside .asideul .lia:nth-child(5):hover .iconfont1{
	color: #6347ed;
}aside .asideul .lia:nth-child(6):hover .cobg,aside .asideul .lia:nth-child(6):hover,aside .asideul .lia:nth-child(6):hover .iconfont1{
	color: #588cf0;
}aside .asideul .lia:nth-child(7):hover .cobg,aside .asideul .lia:nth-child(7):hover,aside .asideul .lia:nth-child(7):hover .iconfont1{
	color: #fa5c5c;
}aside .asideul .lia:nth-child(8):hover .cobg,aside .asideul .lia:nth-child(8):hover,aside .asideul .lia:nth-child(8):hover .iconfont1{
	color: #F7A831;
}aside .asideul .lia:nth-child(9):hover .cobg,aside .asideul .lia:nth-child(9):hover,aside .asideul .lia:nth-child(9):hover .iconfont1{
	color: #F7AB38;
}aside .asideul .lia:nth-child(10):hover .cobg,aside .asideul .lia:nth-child(10):hover,aside .asideul .lia:nth-child(10):hover .iconfont1{
	color: #427DEF;
}aside .asideul .lia:nth-child(11):hover .cobg,aside .asideul .lia:nth-child(11):hover,aside .asideul .lia:nth-child(11):hover .iconfont1{
	color: #DD2727;
}aside .asideul .lia:nth-child(12):hover .cobg,aside .asideul .lia:nth-child(12):hover,aside .asideul .lia:nth-child(12):hover .iconfont1{
	color: #427DEF;
}aside .asideul .lia:nth-child(13):hover .cobg,aside .asideul .lia:nth-child(13):hover,aside .asideul .lia:nth-child(13):hover .iconfont1{
	color: #F7A831;
}aside .asideul .lia:nth-child(14):hover .cobg,aside .asideul .lia:nth-child(14):hover,aside .asideul .lia:nth-child(14):hover .iconfont1{
	color: #3BC7B0;
}aside .asideul .lia:nth-child(15):hover .cobg,aside .asideul .lia:nth-child(15):hover,aside .asideul .lia:nth-child(15):hover .iconfont1{
	color: #DD2727;
}aside .asideul .lia:nth-child(16):hover .cobg,aside .asideul .lia:nth-child(16):hover,aside .asideul .lia:nth-child(16):hover .iconfont1{
	color: #3BC7B0;
}
aside .asideul .lia .cobg{
	color: #424242;
	padding-right: 3px;
}

.big-box{
	width: 100%;
	height: 500px;
	float: left;
	position: absolute;
	z-index: 77;
	top: 0;
	left: 0;
}
#bogBoxIsPic{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
#bogBoxIsPic li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	padding-left: 90px;
	transition: all 0.8s;
	opacity: 0;
}
#bogBoxIsPic .view{
	opacity: 1;
}
#bogBoxIsPic li:first-child{
	background: #FCDA5E;
}
#bogBoxIsPic li:nth-child(2){
	background: #013BF4;
}
#bogBoxIsPic li:nth-child(3){
	background: #E8E8E8;
}
#bogBoxIsPic li:nth-child(4){
	background: #E8E8E8;
}
#bogBoxIsPic li:nth-child(5){
	background: #FEF2F2;
}
#bogBoxIsPic li:last-child{
	background: #35353A;
}

.nav-float{
	width: 220px;
	height: 30px;
	position: absolute;
	bottom: 20px;
	left: 534px;
	z-index:80;
}
.spam .pink{
	color: #E54076;
}
/*商品列表区域*/
.asideul{
	z-index: 999;
/*	position: relative;*/
}
.spam{
	width: 853px;
	height: 500px;
/*	background: #ddd;*/
	background: #fff;
	position: absolute;
	top: 0;
	display: none;
	left: 200px;
	z-index:999;
}
.asideul .spam .claa{
	color: #666666;
	font-size: 14px;
}
 .asideul .spam a:hover{
	color: #E54076;
}
.nav-float li{
	float: left;
	width: 16px;
	height: 16px;
	border: 2px solid #A2A2A2;
	background: #A2A2A2;
	border-radius: 50%;
	margin-right: 16px;
}


.nav-float ul li:hover{
    cursor: pointer;
}
.nav-float .circleradio{
	background: #F1F1F1;
}
.spam li{
	padding-top: 10px;
	float: left;
	font-weight: 100;
}
.spam .firli{
	width: 120px;
	font-weight: 600;
	color: #222;
	text-align: center;
}
.borderline{
/*	background: #de1;*/
	width: 500px;
	height: auto;
	overflow: hidden;
	line-height: 22px;
	padding: 12px 10px;
	border-bottom: 1px dashed #F4F4F4;
	margin-bottom: 2px;
}
.borderline a{
/*	display: block;*/
	margin-right: 18px;
	
}







.playy{
	width: 70px;
	height: 57px;
	position: absolute;
	left: 210px;
	top: 100px;
	z-index: 9;
}
.playy #animations{
	width: 70px;
	height: auto;
}
@keyframes animations{
	0%{transform: scale(1.0)}
	50%{transform: scale(1.2)}
}
.live-telecast-left-top:hover .playy #animations{
	animation:animations 0.5s;
}
.playfont{
	display: block;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	margin-left: auto;
	text-align: center;
	font-size: 24px;
	color: #fff;
}
/****************右侧固定栏****************/
.aaside{
	width: 35px;
	height: 100%;
	background: #000;
	position: fixed;
	right: 0;
	z-index: 999;
}
/*********************************/
section{
	background: #F5F5F5;
}
/********************直播************************/
.live-telecast{
	height: 435px;
	width: 100%;
	padding-top: 60px;
}
/***************左侧*************/
.live-telecast-left{
	width: 488px;
	height: 435px;
	background: #000;
	float: left;
	position: relative;
}
.live-telecast-left-top{
	height: 275px;
	width: 488px;
}
.shadom{
	width: 488px;
	height: 275px;
	background: #dddada;
	opacity: 0.4;
	position: absolute;top: 0;
	left: 0;
}
.small-shadom{
	height: 90px;
	width: 160px;
	background: #000;
	opacity: 0.3;
}
.live-telecast-left-top img{
	width: 488px;
	height: 275px;
}
.live-telecast-left-bottom{
	height: 90px;
	width: 488px;
	margin-top: 9px;
    /*position: relative;*/
	/*background: #fff;*/
}
.live-telecast-left-bottom ul li{
	width: 160px;
	height: 90px;
	background: #000;
	margin-right: 4px;
	float: left;
    position: relative;
}
.live-telecast-left-bottom ul li img{
	width: 160px;
	height: 90px;
    position: absolute;
    top:0;
    left:0;
}
.live-telecast-left-bottom ul li:nth-child(3){
	margin-right: 0px;
}
._font{
    display: block;
    width: auto;
    height:20px;
    /*background: #fff;*/
    position: absolute;
    bottom:10px;
    left:0;
    right: 0;
    margin-left: auto;
    font-size: 12px;
    text-align: center;
    color: #fff;
    z-index: 999;
}
.small-img{
    width: 36px;
    height: 30px;
    position: absolute;
    top:29px;
    left:62px;
    z-index: 999;
    /*background: rgba(123, 255, 16, 0.67);*/
}
.small-img #sma-img{
    width: 36px;
    height: auto;
}.live-telecast-left-bottom ul li:hover #sma-img{
    animation: animations 0.3s;
                                         }

.zhibozhong{
	width:50px;
	height: 20px;
	background: #4B4741;
	font-size: 11px;
	color: #fff;
	border-radius: 10px;
	line-height: 20px;
	position: absolute;
	right: 15px;
	top: 15px;
	padding: 0 2px;
}
#yuandian{
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #FF456C;
	border-radius: 50%;
}



/****右侧****/
.live-telecast-right{
	width: 731px;
	height: 435px;
	background: #fff;
	float: left;
	padding-left: 11px;
}
.live-telecast-right ul li{
	width: 121px;
	height: 108px;
	border: 1px solid #f5f5f5;
	border-top: none;
	border-left: none;
	position: relative;
	float: left;
}
.live-telecast-right ul li:nth-child(6),.live-telecast-right ul li:nth-child(12),.live-telecast-right ul li:nth-child(18),.live-telecast-right ul li:nth-child(24){
	border-right: none;
}
.live-telecast-right ul li:nth-child(19),.live-telecast-right ul li:nth-child(20),.live-telecast-right ul li:nth-child(21),.live-telecast-right ul li:nth-child(22),.live-telecast-right ul li:nth-child(23){
	border-bottom: none;
}
.live-telecast-right ul li:last-child{
	height: 78px;
	padding-top: 30px;
	text-align: center;
	font-size: 14px;
	color: #999999;
	border-bottom: none;
	cursor: pointer;
}
.live-telecast-right ul li:last-child:hover{
	color: #fff;
	background: #FF0036;
}
.live-telecast-right ul li:last-child:hover .iconfont3{
	transform:rotate(180deg);
}
.live-telecast-right ul li img{
	margin-top: 30px;
	margin-left: 10px;
}
.live-telecast-right ul li:hover .youhuiquan{
	opacity: 1;
}
.youhuiquan{
	width: 121px;
	height: 108px;
	background: #333333;
	opacity: 0;
	transition:all 0.3s;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.money{
	position: absolute;
	top: 40px;
	left: 27px;
	color: #fff;
	font-size: 11px;
}
.djjr{
	height: 20px;
	width: 65px;
	background: #ff0000;
	border-radius: 10px;
	position: absolute;
	bottom: 20px;
	left: 27px;
	font-size: 12px;
	color: #fff;
	text-align: center;
}
.left-bottom-s{
    width: 390px;
    height:40px;
    margin-top: 10px;
    margin-left: 21px;
    /*background: #ffd89a;*/
}
.ltbt-left{
    width: 81px;
    height:31px;
    /*background: #fff;*/
    float: left;
    margin-top: 9px;
    /*margin-left: 9px;*/
}
.ltbt-left img{
    width: 81px;
    height:31px;
}
.ltbt-right{
    width: auto;
    height:auto;
    float: left;
    font-size: 12px;
    color: #fff;
}
/*************************商品*************************/
.shop{
	width: 100%;
	height: 477px;
	background: #F5F5F5;
	padding-top: 31px;
}
.shop-main ul li{
	width: 238px;
	height: 477px;
	float: left;
	margin-right: 10px;
	background: #fff;
}
.shop-main ul li:last-child{
	margin-right: 0;
}
.shop-main-top{
	height: 36px;
	width: 238px;
	background: #FF0036;
	text-align: center;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
}
.shop-main ul li ul li{
	margin-top: 20px;
	margin-left: 19px;
	width: 200px;
	height: 200px;
	position: relative;
}
.shop-main ul li ul li:first-child{
	border-bottom: 1px solid #eeeeee;
}
.radious{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: rgba(0,0,0,0.03);
	position: absolute;
	top: 50px;
	left: 25px;
}
.shop-main img{
	margin-top: 15px;
	margin-left: 35px;
	width: 125px;
	height: 125px;
	transition:all 0.3s;
}
.shop-main ul li ul li:hover img{
	transform:scale(1.08);
}
.bigfont{
	font-size: 21px;
	color: #000;
	display: block;
	text-align: center;
	font-weight: 400;
}
.smallfont{
	display: block;
	font-size: 12px;
	color: #888888;
	text-align: center;
	line-height: 15px;
}
/*************************广告**************************/
.advertisement{
	padding-top: 10px;
	width: 100%;
	height: 90px;
	/*// float: left;*/
	overflow: hidden;
}

.advertisement img{
	margin-left: -165px;
	height: 90px;
}
/***********************相同属性********************/
.mlrs,.cdkw,.jjsh,.dzac,.qzsg,.hwcx{
	height: 470px;
	padding-top: 30px;
	width: 100%;
}

/***********************，美丽人生*********************/
.mlrs-main{
	height: 470px;
	width: 1230px;
	/*// background: #a78;*/
}
.mlrs-mian-top{
	height: 30px;
	width: 100%;
	/*// background: #b32;*/
}
.mlrs-mian-top-left{
	float: left;
}
#shu1,#shu2,#shu3,#shu4,#shu5,#shu6{
	display: block;
	width: 5px;
	height: 20px;
	float: left;
	margin-right: 10px;
}
#shu1
{
	background: #EA5F8D;
}
#shu2{
	background: #0aa6e8;
}
#shu3{
	background: #64C333;
}
#shu4{
	background: #f15453;
}
#shu5{
	background: #19C8A9;
}
#shu6{
	background: #F7A945;
}

.bt{
	display: block;
	font-size: 17px;
	color: #333;
	float: left;
	margin-right: 10px;
}
.smbt{
	display: block;
	float: left;
	color: #333;
	font-size: 11px;
	line-height: 27px;
}
.mlrs-mian-top-right{
	float: right;
}
.mlrs-mian-top-right a{
	height: 19px;
	display: block;
	float: left;
	color: #000;
	font-size: 14px;
	margin: 5px 10px;
	line-height: 20px;
}
.mlrs-mian-top-right a:hover{
	border-bottom: 1px solid #000;
}
.mlrs-mian-bottom{
	height: 440px;
	width: 100%;
	background: #d48;
}
.mlrs-mian-bottom ul li{
	position: relative;
	width: 244px;
	height: 440px;
	background: #fff;
	float: left;
}
.mlrs-mian-bottom ul li:first-child{
	width: 246px;
}
.mlrs-mian-bottom ul li:last-child{
	width: 249px;
}
.mlrs-mian-bottom ul li:nth-child(2),.mlrs-mian-bottom ul li:nth-child(3),.mlrs-mian-bottom ul li:nth-child(4){
	border-right: 1px solid #f5f5f5;
}
/*.cdkw .mlrs-mian-bottom ul li:nth-child(4){*/
    /*border-right: none;*/
/*}*/

.fudfont{
	width: 246px;
	height: 30px;
	background: rgba(175,175,175,0.8);
	position: absolute;
	top: 300px;
	left: 0;
}
.fudfont span{
	display: block;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	color: #333;
}
.yyys{
	height: 330px;
	width: 246px;
	background: rgba(195,195,195,0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.mlrs-mian-bottom ul li:first-child:hover .fudfont span{
	transition: all 0.3s;
	color: #ff000c;
}
.mlrs-mian-bottom ul li:first-child:hover .yyys{
	transition: all 0.3s;
	display: block;
}
.mlrs-mian-bottom ul li:first-child img{
	width: 246px;
	height: 440px;
}
.botom{
	width: 246px;
	height: 90px;
	padding-top: 20px;
	background: #EA5F8D;
	position: absolute;
	bottom: 0;
	left: 0;
}
/***************居家生活*****************/
.jjsh .botom{
	width: 246px;
	height: 90px;
	padding-top: 20px;
	background: #64C333;
	position: absolute;
	bottom: 0;
	left: 0;
}
/*****************打造爱巢*********************/
.dzac .botom{
	width: 246px;
	height: 90px;
	padding-top: 20px;
	background: #F15453;
	position: absolute;
	bottom: 0;
	left: 0;
}
.dzac .smallfod{
	color: #F15453;
	font-size: 12px;
	position: absolute;
	top: 57px;
	left: 27px;
	z-index: 2;
}
.dzac .bsmallfod{
	color: #F15453;
	font-size: 12px;
	position: absolute;
	top: 278px;
	left: 27px;
	z-index: 2;
}
/****************户外出行****************/
.hwcx .botom{
	width: 246px;
	height: 90px;
	padding-top: 20px;
	background: #19C8A9;
	position: absolute;
	bottom: 0;
	left: 0;
}
.hwcx .smallfod{
	color: #19C8A9;
	font-size: 12px;
	position: absolute;
	top: 57px;
	left: 27px;
	z-index: 2;
}
.hwcx .bsmallfod{
	color: #19C8A9;
	font-size: 12px;
	position: absolute;
	top: 278px;
	left: 27px;
	z-index: 2;
}
.hwcx .ii-center .smallfod{
	color: #19C8A9;
	font-size: 12px;
	position: absolute;
	top: 205px;
	left: 27px;
	z-index: 2;
}
.hwcx .ii-bottom .smallfod{
	color: #19C8A9;
	font-size: 12px;
	position: absolute;
	top: 353px;
	left: 27px;
	z-index: 2;
}
/******************亲子时光******************/
.qzsg .botom{
	width: 246px;
	height: 90px;
	padding-top: 20px;
	background: #F7A945;
	position: absolute;
	bottom: 0;
	left: 0;
}
.qzsg .smallfod{
	color: #F7A945;
	font-size: 12px;
	position: absolute;
	top: 57px;
	left: 27px;
	z-index: 2;
}
.qzsg .bsmallfod{
	color: #F7A945;
	font-size: 12px;
	position: absolute;
	top: 278px;
	left: 27px;
	z-index: 2;
}
.qzsg .ii-center .smallfod{
	color: #F7A945;
	font-size: 12px;
	position: absolute;
	top: 205px;
	left: 27px;
	z-index: 2;
}
.qzsg .ii-bottom .smallfod{
	color: #F7A945;
	font-size: 12px;
	position: absolute;
	top: 353px;
	left: 27px;
	z-index: 2;
}
/***************************************/
.titlee{
	height: 33px;
	width: 246px;
	line-height: 33px;
	font-size: 21px;
	color: #fff;
	text-align: center;
}
.sub-titlee{
	height: 27px;
	width: 246px;
	line-height: 27px;
	font-size: 17px;
	color: #fff;
	text-align: center;
}
.decoration{
	height: 30px;
	width: 246px;
	background: url('../img/TB1tff_RXXXXXa1apXXXXXXXXXX-246-30.png') no-repeat 50% 0;
}
.i-top{
	height: 220px;
	width: 244px;
	border-bottom: 1px solid #f5f5f5;
}
.i-top img{
	height: 154px;
	width: 154px;
	position: absolute;
	bottom: 220px;
	right: 0;
	z-index: 1;
}

.bigfod{
	display: block;
	font-size: 17px;
	color: #000000;
	display: block;
	position: absolute;
	top: 29px;
	left: 27px;
	z-index: 2;
}
.smallfod{
	color: #ea5f8d;
	font-size: 12px;
	position: absolute;
	top: 57px;
	left: 27px;
	z-index: 2;
}
.jjsh .smallfod{
	color: #64C333;
	font-size: 12px;
	position: absolute;
	top: 57px;
	left: 27px;
	z-index: 2;
}



.bsmallfod{
	color: #ea5f8d;
	font-size: 12px;
	position: absolute;
	top: 278px;
	left: 27px;
	z-index: 2;
}
.jjsh .bsmallfod{
	color: #64C333;
	font-size: 12px;
	position: absolute;
	top: 278px;
	left: 27px;
	z-index: 2;
}
.bbigfod{
	display: block;
	font-size: 17px;
	color: #000000;
	display: block;
	position: absolute;
	top: 250px;
	left: 27px;
	z-index: 2;
}
.i-bottom img{
	height: 154px;
	width: 154px;
	position: absolute;
	bottom: 0px;
	right: 0;
	z-index: 1;
}
.ii-top,.ii-center{
	width: 249px;
	height: 146px;
	border-bottom: 1px solid #f5f5f5;
}
.iii-top,.iii-center,.iii-top1{
	width: 249px;
	height: 110px;
	border-bottom: 1px solid #f5f5f5;
}
.ii-top img{
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 294px;
	right: 0;
	z-index: 1;
}.iii-top img{
	height: 109px;
	width: 109px;
	position: absolute;
	bottom: 331px;
	right: 0;
	z-index: 1;
}.iii-top1 img{
	height: 109px;
	width: 109px;
	position: absolute;
	bottom: 219px;
	right: 0;
	z-index: 1;
}
.ii-center img{
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 147px;
	right: 0;
	z-index: 1;
}.iii-center img{
	height: 109px;
	width: 109px;
	position: absolute;
	bottom: 108px;
	right: 0;
	z-index: 1;
}
.ii-bottom img{
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 0px;
	right: 0;
	z-index: 1;
}.iii-bottom img{
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 0px;
	right: 0;
	z-index: 1;
}
.ii-center .bigfod{
	display: block;
	font-size: 17px;
	color: #000000;
	display: block;
	position: absolute;
	top: 177px;
	left: 27px;
	z-index: 2;
}.iii-center .bigfod{
	display: block;
	font-size: 17px;
	color: #000000;
	display: block;
	position: absolute;
	top: 177px;
	left: 27px;
	z-index: 2;
}
.ii-bottom .bigfod{
	display: block;
	font-size: 17px;
	color: #000000;
	display: block;
	position: absolute;
	top: 325px;
	left: 27px;
	z-index: 2;
}.iii-bottom .bigfod{
	display: block;
	font-size: 17px;
	color: #000000;
	display: block;
	position: absolute;
	top: 325px;
	left: 27px;
	z-index: 2;
}
.ii-center .smallfod{
	color: #ea5f8d;
	font-size: 12px;
	position: absolute;
	top: 205px;
	left: 27px;
	z-index: 2;
}.iii-center .smallfod{
	color: #ea5f8d;
	font-size: 12px;
	position: absolute;
	top: 205px;
	left: 27px;
	z-index: 2;
}
.jjsh .ii-center .smallfod{
	color: #64C333;
	font-size: 12px;
	position: absolute;
	top: 205px;
	left: 27px;
	z-index: 2;
}
/****************字体移动多少*************/
/*.iii-bottom .bbigfod,.iii-bottom .smallfod,{*/
	/*left:27px;*/
/*}*/
.iii-top .bigfod{
	top:30px;
}
.iii-top .smallfod{
	top:59px;
}
.iii-top1 .smallfod{
	top:170px;
}
.iii-top1 .bigfod{
	top:140px;
}
.iii-center .bigfod{
	top:251px;
}
.iii-center .smallfod{
	top:279px;
}
.iii-bottom .bigfod{
	top:361px;
}
.iii-bottom .smallfod{
	top:390px;
}
.iii-top:hover img,.iii-top1:hover img,.iii-center:hover img,.iii-bottom:hover img{
	right:8px;
}


.ii-bottom .smallfod{
	color: #ea5f8d;
	font-size: 12px;
	position: absolute;
	top: 353px;
	left: 27px;
	z-index: 2;
}
.jjsh .ii-bottom .smallfod{
	color: #64C333;
	font-size: 12px;
	position: absolute;
	top: 353px;
	left: 27px;
	z-index: 2;
}

/****************添加动画*********************/
.ii-top:hover img,.ii-bottom:hover img,.ii-center:hover img,.i-bottom:hover img,.i-top:hover img{
	right: 8px;
}
.mlrs-mian-bottom li img{
	transition:all 0.3s;
}
/*****************潮电酷玩*********************/
#two{
    width:489px;
    height:440px;
	position: relative;
}

.two-top{
	width:100%;
	height: 220px;
	border-bottom: 1px solid #f5f5f5;
}
.two-top img{
	width: 195px;
	height:195px;
	position: absolute;
	bottom:220px;
	right: 0;
	z-index: 1;
	transition: all 0.3s;
}
.two-top a h3,.two-top a h4{
	color: #000;
}
.two-top:hover img{
	right:8px;
}
.two-top h4,.two-top h3,.two-top h6{
	position: absolute;
	z-index: 99;
	left: 45px;
}
h3{
	top:45px;
	font-size: 22px;
	font-weight: 200;
}
h4{
	top:80px;
	font-size: 16px;
	font-weight: 200;
}
h6{
	top:105px;
	font-size: 14px;
	color: #0aaeed;
	font-weight: 100;
}
.two-top .smallfod{
	top:280px;
}

.two-bottom ul li{
	height:220px;
	width: 244px;
	float: left;
	background: #000;
}
.two-bottom a{
	display: block;
	float: left;
	width: 244px;
	height:220px;
}
.two-bottom a:first-child{
	border-right: 1px solid #f5f5f5;
}
.two-bottom a:first-child img{
	right:245px;
}
.two-bottom a img{
	width: 154px;
	height:154px;
	position: absolute;
	bottom:0;
	right:0;
	transition: all 0.3s;
}
.two-bottom a:hover:nth-child(1) img{
	right:257px;
}
.two-bottom a:hover:nth-child(2) img{
	right:8px;
}
.two-bottom .bigfod{
	top: 251px;
}
.cdkw .two-bottom .smallfod{
	position: absolute;
	top:280px;
}
.two-bottom a:nth-child(2) .smallfod,.two-bottom a:nth-child(2) .bigfod{
	left:270px;
}
.cdkw .ii-bottom .smallfod{
	color: #0aa6e8;
	font-size: 12px;
	position: absolute;
	top: 353px;
	left: 27px;
	z-index: 2;
}

.cdkw .ii-center .smallfod{
	color: #0aa6e8;
	font-size: 12px;
	position: absolute;
	top: 205px;
	left: 27px;
	z-index: 2;
}
.cdkw .bsmallfod{
	color: #0aa6e8;
	font-size: 12px;
	position: absolute;
	top: 278px;
	left: 27px;
	z-index: 2;
}
.cdkw .smallfod{
	color: #0aa6e8;
	font-size: 12px;
	position: absolute;
	top: 57px;
	left: 27px;
	z-index: 2;
}
.cdkw .botom{
	width: 246px;
	height: 90px;
	padding-top: 20px;
	background: #0aa6e8;
	position: absolute;
	bottom: 0;
	left: 0;
}







/*********************************猜你喜欢****************************/
.cnxh{
	width: 100%;
	height:73px;
	line-height: 73px;
	text-align: center;
	font-size: 17px;
	color: #666666;
}

/****************************商品列表   猜你喜欢*******************************/
.shoplist{
	height:auto;
	width:100%;
	overflow: hidden;
	background: #f5f5f5;
	float: left;
}
.shop-list{
	height:333px;
	width: 100%;
}
.shop-list ul li{
	width: 236px;
	height:317px;
	border:1px solid #fff;
	float: left;
	margin-right: 8px;
	background: #fff;
	position: relative;
}
.shop-list ul li:hover{
	border-color: #ff0000;
}
.shop-list ul li:last-child{
	margin-right: 0px;
}
.shop-list ul li img{
	width: 235px;
	height: 230px;
	margin-left: 1px;
	margin-top: 1px;
}
.shop-list ul li p{
	font-size: 12px;
	color: #666666;
	width: 210px;
	margin-left: 12px;
}
.shop-list ul li span{
	display: block;
	color: #ff0000;
	font-size: 12px;
	margin-left: 12px;
	margin-top:10px;
}
.yiny{
	width: 235px;
	height: 230px;
	background: rgba(251,251,251,0.3);
	opacity: 0;
	position: absolute;
	top:1px;
	left: 1px;
	transition: all 0.3s;
}
.shop-list ul li:hover .yiny{
	opacity: 1;
}
















/******************收尾***************************/
.shop-end{
	height:55px;
	width: 100%;
}
.shop-end-pic{
	width: 80px;
	height: 45px;
	background: url("../img/TB1wQDAPXXXXXXgaFXXXXXXXXXX-62-35.png") no-repeat;
	position: relative;
	margin:0 auto;
	background-size: cover;
}
/**************footer*******************/
footer{
	height:363px;
	width: 100%;
	background: #fff;
	border-top: 1px solid #d1d7dc;
	float: left;
}
.footer-top{
	height:150px;
	width: 100%;
	/*background: #f712ff;*/
	border-bottom: 1px solid #ededed;
}
.footer-top a{
	display: block;
	width:247px;
	height: 50px;
	/*background: #273afd;*/
	float: left;
	padding:25px;
	margin-top: 25px;
}
.iconfont6{
	width: 72px;
	display: block;
	font-family: 'iconfont';
	font-size: 45px;
	color: #ff000a;
	padding-left: 10px;
	float: left;
	text-align: center;
	line-height: 50px;
	font-weight: 500;
}
.footer-top p{
	font-size: 16px;
}
.fu{
	margin-top: 5px;
	display: block;
	float: left;
	line-height:20px;
}
.p1{
	font-size: 17px;
	color: #000;
	font-weight: bold;
}
.p2{
	font-size: 15px;
	color: #898989;
}
/*************************底部****************************/
.dibu{
	width:100%;
	height: 199px;
	border-top: 2px solid #c40000;
	background: #000000;
	float: left;
	position: relative;
	z-index: 2;
}
.sj{
	padding-top: 28px;font-weight: 600;
	font-size: 16px;
	color: #646464;
}
.footer-bottom-right .tmphone{
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #646464;
	padding-top: 30px;
}
.footer-bottom-right img{
	display: block;
	margin-top: 10px;

}
.footer-bottom{
	position: relative;
}
#dingwei{
	width: 70px;
 	position: absolute;
	bottom:-80px;
	z-index: 1;
	left: 68px;
}
.footer-bottom-left dl{
	/*background: #5febff;*/
	float: left;
	margin-top: 30px;
	padding-left: 60px;
	padding-right: 120px;
}
.footer-bottom-left dt{
	font-size: 16px;
	color: #646464;
	font-weight: bold;
}
.footer-bottom-left dd a{
	color: #8b8b8b;
	font-size: 11px;

}
.footer-bottom-right span{
	display: block;
}
.dibu-main{
	overflow: hidden;
	box-sizing: border-box;
	padding:0 30px;
}
.dibu-main span{
	display: block;
}
.dibu-main span:first-child{
	margin-top: 10px;
}
.dibu-main span:nth-child(2){
	margin-top: 20px;
}
.dibu-main a{
	color: #fff;
	font-size: 11px;
}
.dibu-main .font__ a{
	color: #a4a4a4;
} 
.dibu-main{
	color: #fff;
}
.dibu-main .font__{
	font-size: 11px;
	line-height:24px;
	color: #a4a4a4;
	overflow: hidden;
}
.font_{
	font-size: 11px;
	color: #686868;
	line-height:20px;
}
.imgg{
	margin-top:10px;
}
#logoo{
	margin-top:5px;
}
