
.slidefloor{
	width: 36px;
	height: auto;
	overflow: hidden;
	position: fixed;
	top:40%;
	left: 5px;
	z-index: 999;
	display: none;
}
.slidefloor li{
	padding-top: 6px;
	width: 36px;
	height: 36px;
	margin-bottom: 1px;
	background: rgba(0,0,0,0.6);
	font-size: 11px;
	color: #fff;
	text-align: center;
	line-height: 13px;
	box-sizing: border-box;
	cursor: pointer;
}

.slidefloor li:first-child{
	line-height: 26px;
	background: #ff0036;
}
.slidefloor li:nth-child(2):hover{
	background: #EB5E8D;
}
.slidefloor li:nth-child(3):hover{
	background: #0AA7E9;
}
.slidefloor li:nth-child(4):hover{
	background: #64C332;
}
.slidefloor li:nth-child(5):hover{
	background: #FF4553;
}
.slidefloor li:nth-child(6):hover{
	background: #18C9A9;
}
.slidefloor li:nth-child(7):hover{
	background: #f7a945;
}
.slidefloor li:nth-child(8):hover{
	background: #000;
}
.slidefloor li:last-child{
	padding-top: 2px;
	line-height: 13px;
	background: rgba(0,0,0,0.4);
}


/*漂浮的搜索框*/
.floatsearch{
	width: 100%;
	height: 48px;
	position: fixed;
	top: -50px;
	left: 0;
	background: rgba(220,37,44,0.90);
	z-index: 888;
}

.floatsearch i{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	line-height: 48px;
	display: block;
	float: left;
	
}
.floatsearch .icon-tian , .floatsearch .icon-mao{
	font-size: 22px;
	line-height: 51px;
}

.floatsearch input{
	display: block;
	float: left;
	width: 653px;
	height: 30px;
	outline: none;
	border: none;
	padding-left: 10px;
	font-size: 12px;
	margin-left: 120px;
	margin-top: 9px;
}
.floatsearch button{
	float: left;
	display: block;
	width: 89px;
	height: 30px;
	margin-top: 9px;
	background: #ff0036;
	font-size: 15px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border: none;
/*	margin-top: 3px;*/
	cursor: pointer;
}

