*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration:none;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}

/*顶部*/
.top{
	width: 1345px;
	height: 31px;
	background: #F2F2F2;
	border: 1px solid #E5E5E5;
	border-left:none ;
	border-right:none ;
	float: left;
}
/*头部左侧部分*/
.left{
	width:295px;
	text-align: center;
	line-height: 32px;
	font-size: 12px;
	color: #999999;
	float: left;
}
.top .left a{
	text-align: center;
	line-height: 32px;
	font-size: 12px;
	font-weight:400;
	color: #999999;
}
.top .left a:hover{
	color: #C40000;
}
/*头部右侧部分*/
.right{
	line-height: 32px;
	margin-right: 10px;
	width: 770px;
	float: right;
}
/*我的淘宝*/
#one,#sjzc{
	width: 72px;
	height: 32px;
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #F2F2F2;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	float: left;
}
#one .oneaa a,#onea a,#sjzc{
	font-size: 12px;
	color: #999;
}
#one:hover,#sjzc:hover,#wzdh:hover{
	background: #fff;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	
}
#one:hover img,#sjzc:hover img,#wzdh:hover img#b{
	transition: all ease 0.5s;
	transform: rotate(180deg);
}
#one:hover .oneaa a{
	color: #c40000;
}
.oneaa a:hover,sjzc a:hover{
	text-decoration: underline;
}
#onea{
	width: 94px;
	height: 57px;
	border: 1px solid #E5E5E5;
	border-top: none;
	position: relative;
	left: -1px;
	display: none;
	background: white;
}
#onea ul{
	padding: 10px 0 0 0;
}
#onea li{
	/*list-style: none;*/
	line-height: 20px;
}
#onea li a:hover{
	color: #c40000;
	text-decoration: underline;
}
.oneaa img,#sjzc img,#wzdh img#b{
	position: relative;
	bottom: 1.5px;
}
/*我关注的品牌*/
.right #two{
	text-align: center;
	line-height: 30px;
	width:110px;
	float: left;
}

#two i,#phone i,#wzdh i{
	font-size: 12px;
	color: rgba(186,5,35,1);
}
#three i{
	font-weight: bolder;
	font-size: 12px;
	color: rgba(186,5,35,1);
}

.right #two span{
	position: relative;
	margin-bottom: -5px;
}
/*#two a{
	font-size: 12px;
	color: #999;
}*/
/*#two a:hover{
	color: #C40000;
}*/
/*购物车*/
.right #three{
	text-align: center;
	line-height: 30px;
	width: 90px;
	float: left;
}
.right #three img{
	position: relative;
	margin-bottom: -0px;
}
/*#three a{
	font-size: 12px;
	color: #999;
}*/
/*#three a:hover{
	color: #C40000;
}*/
/*收藏夹*/
#four{
	width: 60px;
	height: 32px;
	border-left:1px solid #F2F2F2 ;
	border-right:1px solid #F2F2F2 ;
	text-align: center;
	font-size: 12px;
	line-height: 32px;
	float: left;
}
#four a{
	font-size: 12px;
	color: #999;
}
#four img{
	position: relative;
	margin-bottom: 2px;
}
#four:hover{
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background: #fff;
	color: #C40000;
}
#four:hover ul li a{
	color: #999;
}
#four .shouc ul li a:hover{
	color: #c40000;
	text-decoration: underline;
}

#four:hover a,#sjzc:hover a{
	color: #c40000;
}
#four a:hover,#sjzc a:hover{
	text-decoration: underline;
}
#four:hover img{
	transition: all ease 0.4s; 
	transform: rotate(180deg);
}
#four .shouc{
	width: 82px;
	height: 56px;
	border: 1px solid #E5E5E5;
	border-top: none;
	position: relative;
	left: -1px;
	display: none;
	background: white;
}
.shouc ul{
	padding: 10px 0 0 0;
}
.shouc ul li{
	line-height: 20px;
	font-size: 12px;
	color: #999;
}
/*|*/
.right span{
	font-size: 12px;
	line-height: 30px;
	color: #CCCCCC;
	float: left;
}
/*手机*/
#phone{
	width: 70px;
	color: #999;
	/*font-size: 12px;*/
	text-align: center;
	line-height: 30px;
	float: left;
}
#phone a,#taobao a,#three a,#two a,#qiye a{
	color: #999;
	font-size: 12px;
}
#phone img{
	position: relative;
	margin-bottom: -3px;
}
#phone a:hover,#three a:hover,#taobao a:hover,#two a:hover,#qiye a:hover{
	color: #C40000;
}
.ewm{
	/*padding: 5px 0 0 0 ;*/
	width: 175px;
	height: 227px;
	position: relative;
	left: -45px;
	top: -7px;
	background: #fff;
	/*display: none;*/
	/*二维码周围有一圈模糊框不会写*/
	/*border:2px solid #e5e5e5 ;*/
	box-shadow: 0 0 5px #aaa
	
}
.ewm b{
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	position: absolute;
	left: 50%;
	top: -10px;
	margin-left: -2px;
	border-width: 5px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff;
}

/*淘宝网*/
#taobao,#qiye{
	width: 60px;
	color: #999;
	text-align: center;
	line-height: 30px;
	float: left;
}
/*#taobao a{
	font-size: 12px;
	color: #999;
}*/
/*企业购*/
/*商家支持*/
#sjzc{
	width: 72px;
	height: 32px;
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #F2F2F2;
	float: left;
}
#sjzc a{
	color: #999;
	font-size: 12px;
	line-height: 30px;
}
/*网站导航*/
#wzdh{
	width: 88px;
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #F2F2F2;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	color: #999;
	float: left;
}
/*右侧浮动部分*/
.Right{
	width:35px ;
	height: 100%;
	background: black;
	position: fixed;
	right: 0;
	z-index: 999;
	float: right;
}
.Right .privilege{
	position: absolute;
	width: 100%;
	height: 35px;
	/*background: darkred;*/
	top: 125px;
}
/*特权图标*/
.Right .privilege i{
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;
}
.Right .privilege:hover{
	background: #BF0400;
}
/*特权字体  浮动*/
.Right .privilege .myprivilege{
	position: absolute;
	top: 0px;
	right: 35px;
	transition: all ease 1s;
	background: #484848;
	width: 90px;
	height: 35px;
	/*display: none;*/ 
	font-size: 14px;
	color: white;
	text-align: center;
	line-height: 35px;
}


.Right .privilege b{
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	position: absolute;
	top: 25%;
	right: -15px;
	margin-left: -2px;
	border-width: 8px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #484848;
	transform: rotate(90deg);
}

.Right .car{
	width: 100%;
	height: 100px;
	/*border: 1px solid #444444;*/
	/*margin-left: 5px;*/
	/*border-right: none;
	border-left: none;*/
	position: absolute;
	top: 168px;
}
.Right .car .carnr{
	width: 25px;
	height: 98%;
	border: 1px solid #444444;
	border-right: none;
	border-left: none;
	margin-left: 5px;
}
.Right .car .carnr i{
	color: #CC0000;
	display: block;
	text-align: center;
	margin-top: 15px;
	line-height: 20px;
	/*水平翻转*/
/*	transform:scaleX(-1);*/
	/*垂直翻转   transform:scaleY(-1);*/
}.Right .car  .carnr span{
	display: block;
	width: 12px;
	color: #fff;
	font-size: 12px;
	/*text-align: center;*/
	/*line-height: 15px;*/
	margin-top: 8px;
	margin-left: 5px;
}
.Right .car:hover{
	background: #C40000;
}
.Right .car:hover .carnr{
	border: 1px solid #C40000;
	border-left: none;
	border-right: none;
}
.Right .car:hover .carnr i{
	color: #fff;
}
.Float{
	height: 800px;
	width: 100%;
	background: yellowgreen;
}

