/***************blog-banner******************/
.blog-banner{
	width: 100%;
	height: 270px;
	background: transparent url(../images/newletter-bg.jpg)  40% 50%/100% scroll;
	background-attachment: fixed;
}

.blog-banner p{
	display: inline-block;
	color: #fff;
	font-size: 27px;
	margin-left: 11%;
	line-height: 230px;
}
#blog-home{
	float: right;
	display: inline-block;
	font-size: 13px;
	line-height: 270px;
	margin-right: 13%;
	color: #2196f5;
}
#blog-home a{
	color: #fff;
}
/*************who we are***************/
.whoweare{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 90px;
	
}

.whoweare-main{
	width: 1168px;
	height: 100%;
	margin: 0 auto;
}

.whoweare-main-left,.whoweare-main-right{
	width: 50%;
	height: auto;
	overflow: hidden;
}
.whoweare-main-left h2{
	position: relative;
}
.whoweare-main-left h2::after{
	display: block;
	content: '';
	width: 90px;
	height: 25px;
	background: url(../images/line-right-dark.png) no-repeat ;
	position: absolute;
	top: 5px;
	left: 190px;
}
.whoweare-main-left h3{
	margin: 0;
	padding: 0;
	letter-spacing: 0.2px;
	line-height: 1.7;
	font-size: 20px;
}
.whoweare-main-left p{
	line-height: 1.5;
	font-size: 15px;
}
.whoweare-main-left i{
	margin-right: 20px;
	color:#42a5f5;
}


.whoweare-main-right{
	padding-top: 40px;
}

