
/*choose your plan */

.plan {
	width: 100%;
	height: 915px;
}

.plan-top {
	height: 92px;
	width: 100%;
}
.plan-top h3{
	width: auto;
	color: #222;
	line-height: 50px;
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
	font-size: 25px;
}
.plan-top h3 span{
	display: inline-block;
}
.plan-top h3::before{
	content: '';
	display: inline-block;
	width: 90px;
    height: 25px;
	background-image: url(../images/line-left-dark.png);
	background-repeat: no-repeat;
	margin-right: 30px;
}
.plan-top h3::after{
	content: '';
	display: inline-block;
	width: 90px;
    height: 25px;
	background-image: url(../images/line-right-dark.png);
	background-repeat: no-repeat;
	margin-left: 30px;
	
}
.plan-middle {
	width: 100%;
	height: 758px;
}

.plan-middle ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.plan-middle ul li {
	width: 260px;
	height: 100%;
	padding: 40px 55px;
	box-sizing: border-box;
	font-size: 11px;
	text-align: center;
	box-shadow: 0 0 3px 1px rgba(240,240,240,0.6);
	transition: all 0.3s;
	background: #fff;
}
.plan-middle ul li:hover{
	box-shadow: 0 1px 20px 2px rgba(240,240,240,0.9);
}

.mainn{
	width: 1150px;
	height: 100%;
	padding-top: 20px;
	margin: 0 auto;
}
.plan-middle ul li span {
	display: block;
	color: #E1E1E1;
}

.plan-middle ul li h4 {
	display: block;
	font-size: 13px;
	line-height: 20px;
}
.plan-middle ul li h5{
	font-size: 25px;
	padding-top: 15px;
}
.plan-middle ul li h6{
	font-weight: 100;
	line-height: 35px;
	padding-bottom: 15px;
}

.plan-middle ul li i {
	display: block;
	font-style: italic;
	color: #666666;
	line-height: 50px;
	padding-bottom: 8px;
}
.plan-middle ul li p{
	padding-top: 20px;
	text-align: center;
	line-height: 46px;
	color: #222222;
}

.getnow {
	margin-top: 30px;
	width: 148px;
	height: 44px;
	border-radius: 22px;
	background: #222222;
	text-align: center;
	line-height: 44px;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.015em;
	cursor: pointer;
}
.getnow:hover{
	background: #42A5F5;
}








