i,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
::selection{
	background: #212121;
	color: #fff;
}

/**{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select:none;
/*	-moz-user-focus:none;*/
/*	-moz-user-select:none;*/
}*/
.three {
	height: 504px;
	width: 100%;
	background: #fff;
}
main {
	width: 1154px;
	height: 100%;
	margin: 0 auto;
}

.threeul {
	padding-top: 90px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.threeul li {
	width: 365px;
	height: 100%;
	text-align: center;
	/*	background: #a45;*/
}


/*三部分第一个圆*/

.threeul li span {
	display: block;
	float: left;
	line-height: 128px;
	color: #E1E1E1;
}

.cir1 {
	/*	margin: 10px;*/
	width: 128px;
	height: 128px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 5px 1px rgba(140, 140, 140, 0.3);
}
.cir1 i{
	font-size: 32px;
	color: #222222;
}
.cir1:hover i{
	color: #42A5F5;
}
.threeul li h4 {
	color: #222;
	text-align: center;
	margin-left: 50%;
	margin-bottom: 0;
	transform: translateX(-50%);
	line-height: 50px;
	float: left;
	font-size: 13px;
}

.threeul li p {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	color: #666666;
	letter-spacing: 0.008em;
	float: left;
	font-size: 13px;
	line-height: 20px;
	margin-left: 50%;
	transform: translateX(-50%);
}


/****************************** end***********************/


/*choose your plan */

.plan {
	width: 100%;
	height: 915px;
background: url(../images/pricing-bg.jpg) no-repeat ;
}

.plan-top {
	height: 212px;
	width: 100%;
	background: url(../images/1.png) no-repeat center center;
}
.plan-top h3{
	width: auto;
	color: #222;
	line-height: 50px;
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
	padding-top: 80px;
	font-size: 25px;
}
.plan-top h3 span{
	display: inline-block;
}
.plan-top h3::before{
	content: '';
	display: inline-block;
	width: 90px;
    height: 25px;
	background-image: url(../images/line-left-dark.png);
	background-repeat: no-repeat;
	margin-right: 30px;
}
.plan-top h3::after{
	content: '';
	display: inline-block;
	width: 90px;
    height: 25px;
	background-image: url(../images/line-right-dark.png);
	background-repeat: no-repeat;
	margin-left: 30px;
	
}
.plan-middle {
	width: 100%;
	height: 616px;
}

.plan-middle ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.plan-middle ul li {
	width: 270px;
	height: 100%;
	padding: 40px 55px;
	box-sizing: border-box;
	font-size: 11px;
	text-align: center;
	box-shadow: 0 0 3px 1px rgba(240,240,240,0.6);
	transition: all 0.3s;
	background: #fff;
}
.plan-middle ul li:hover{
	box-shadow: 0 1px 20px 2px rgba(240,240,240,0.9);
}


.plan-middle ul li span {
	display: block;
	color: #E1E1E1;
}

.plan-middle ul li h4 {
	display: block;
	font-size: 13px;
	line-height: 20px;
}
.plan-middle ul li h5{
	font-size: 25px;
	padding-top: 15px;
}
.plan-middle ul li h6{
	font-weight: 100;
	line-height: 35px;
	padding-bottom: 15px;
}

.plan-middle ul li i {
	display: block;
	font-style: italic;
	color: #666666;
	line-height: 50px;
	padding-bottom: 8px;
}
.plan-middle ul li p{
	padding-top: 20px;
	text-align: center;
	line-height: 46px;
	color: #222222;
}

.getnow {
	margin-top: 30px;
	width: 148px;
	height: 44px;
	border-radius: 22px;
	background: #222222;
	text-align: center;
	line-height: 44px;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.015em;
	cursor: pointer;
}
.getnow:hover{
	background: #42A5F5;
}
/*****************介绍************************/
.translate{
	padding-top: 100px;
	box-sizing: border-box;
	height: 634px;
	width: 100%;
	background-image: url(../images/businessman-2606509_1920.jpg);
	background-repeat: no-repeat;
}
.translate h4{
	margin-left: 90px;
	font-size: 25px;
	color: #222222;
	line-height: 50px;
}
.translate p{
	margin-left: 90px;
	margin-top: 15px;
	font-size: 14px;
	color: #000;
	letter-spacing: 0.05px;
}
.botm-center,.botm-left,.botm-right{
	float: left;
}
.botm-left{
	color: #fff;
	font-size: 26px;
	margin-left: 90px;
	margin-top:50px;
}
.botm-center{
	color: #999;
	font-size: 14px;
	transform:  rotate(90deg);
	margin-top:50px;
	padding-left: 60px;
}
.botm-right{
	width: 240px;
	color: #999;
	font-size: 14px;
	letter-spacing: 0.05px;
	line-height: 25px;
	margin-top:50px;
}
/*////////*************我们的服务*********************/
.services{
	height: 769px;
	width: 100%;
	background: #fff;
}
.services-top{
	padding-top: 20px;
	box-sizing: border-box;
	height: 190px;
	width: 100%;
	
}

.title-content{
	padding-top: 20px;
	height: 50px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #42a5fa;
	text-align: center;
	background: url(../images/our-service.png) no-repeat;
	background-position: center center;
	
}
.title-content::before{
	content: "";
    background: url(../images/line-left-dark.png) no-repeat;
    width: 90px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
	
}
.title-content::after{
	content: "";
    background: url(../images/line-right-dark.png) no-repeat;
    width: 90px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.title-content span{
	color: #222;
}

.services-main{
	width: 1154px;
	height: 480px;
	background: #fafafa;
	margin: 0 auto;
	overflow: hidden;
}
.Li-left,.imgg,.Li-right{
	display: block;
	float: left;
}
.Li-left{
	width: 285px;
}
.Li-left li{
	padding-left:25px;
	box-sizing: border-box;
	width: 285px;
	height: 80px;
	background: #42a5f5;
	border-bottom: 1px solid #FAFAFA;
	box-sizing: border-box;
	text-align: left;
	line-height: 80px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.4s;
}
.Li-left li a{
	color: #fff;
	
}
.Li-left li:last-child{
	margin:0;
}

.Li-left .actives{
	background: #fafafa;
}
.Li-left .actives a{
	color: #222;
	
}
.Li-left .iconfont,.Li-right .iconfont{
	font-size: 24px;
	padding-right: 10px;
}
.Li-right .smli .iconfont{
	font-size: 18px;
	padding-right: 10px;
}

.imgg{
	
	width: 410px;
}
.imgg img{
	margin-top: 50px;
	margin-left: 15px;
	width: 90%;
}
.Li-right{
	width: 445px;
	height: 390px;
	position: relative;
	overflow: hidden;
}
.Li-right .lists{
	padding-top: 40px;
	box-sizing: border-box;
	width: 430px;
	height: 450px;
	position: absolute;
	background: #FAFAFA;
	left: 0;
	top: 100%;
	transition: all 0.5s;
}
.Li-right .lists a{
	color: #42a5fa;
}
.Li-right .lists:first-child{
	top: 0;
}
.Li-right li h3{
	font-size: 25px;
}
.Li-right li p{
	font-size: 14px;
	color: #666;
	letter-spacing: 0.06px;
	line-height: 1.8;
}


.smli{
	width: 100%;
	height: 50px;
	font-size: 14px;
	color: #222;
	line-height: 50px;
}






/*************************为什么*****************/
.why{
	padding-top: 60px;
	box-sizing: border-box;
	height: 448px;
	width: 100%;
	background: url(../images/counter-bg.jpg) no-repeat ;
}
.why-top h2{
	padding-top: 20px;
	height: 50px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #42a5f5;
	background: url(../images/why-love.png) no-repeat center center;
	
}

.why-top h2::before{
	content: "";
    background: url(../images/line-left-dark.png) no-repeat;
    width: 90px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
	
}
.why-top h2::after{
	content: "";
    background: url(../images/line-right-dark.png) no-repeat;
    width: 90px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.why-bottom ul{
	padding-top: 50px;
	width: 1100px;
	margin: 0 auto;
}

.why-bottom li{
	float: left;
	margin-left: 140px;
	height: 120px;
	width: 130px;
	border: 1px dashed #e1e1e1;
	position: relative;
}
.why-bottom li i{
	font-size: 30px;
	color: #e1e1e1;
	float: right;
	margin-right: 25px;
	margin-top: 25px;
}
.why-bottom li h2{
	font-size: 35px;
	color: #42a5f5;
	position: absolute;
	top: 00%;
	left: -25%;
	
}
.why-bottom li h4{
	font-size: 18px;
	color: #222;
	position: absolute;
	left: -55%;
	top: 60%;
}

/**************sign up***********/

.signup	{
	padding-top: 100px;
	height: 219px;
	width: 100%;
	background:transparent url(../images/newletter-bg.jpg) no-repeat scroll;
	background-attachment: fixed;
}
.signup-left{
	margin-left: 13%;
	position: relative;
}
.signup-right{
		
}
.signup h6{
	display: block;
	height: 47px;
	width: 190px;
	background: transparent;
	border-radius: 6px;
	font-size: 10px;
	color: #fff;
	transition: all 0.5s;
	cursor: pointer;
	position: absolute;
	right: 2px;
	top:0;
	text-align: center;
	line-height: 47px;
}
.signup h6:hover{
	background: #fff;
	color: #42a5f5;
}
.signup h2{
	margin-top: 80px;
	color: #fff;
}
.shuxian{
	display: block;
	width: 120px;
	height: 5px;
	line-height: 5px;
	color: #4e5255;
	transform: rotate(90deg) translateX(50%);
}
.signup-right,.signup-center,.signup-left{
	float: left;
}

.signup-right .inputtext{
	width: 190px;
	height: 0px;
	background: rgba(38,38,38,0.3);
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 25px;
/*	box-sizing: border-box;*/
	color: #fff;
}
.signup-right p{
	margin: 10px 0 30px 0;
	color: #999999;
}
#submit{
	width:120px;
	height: 47px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: transparent;
	color: #fff;
	outline: none;
	border: none;
	font-size: 12px;
	margin-left: 15px;
	cursor: pointer;
	text-align: center;
	line-height: 47px;
	transition: all 0.5s;
}

#submit:hover{
	background: #fff;
	color: #42a5f5;
}

/************news*************/
.news{
	width: 100%;
	height: 868px;
	background: #fff;
}
.news-main{
	width: 1150px;
	height: 100%;
	margin: 0 auto;
}
/*我们的新闻*/
.news-left{
	width: 630px;
	height: 100%;
	float: left;
}
.news-left h4,.questions-right h4{
	position: relative;
	
}
.news-left h4 i,.questions-right h4 i{
	display: block;
	position: absolute;
	top: 15px;;
	left: 150px;
	width: 90px;
	height: 50px;
	background: url(../images/line-right-dark.png) no-repeat ;
}
.news-top-bg{
	margin-top: 70px;
	width: 50%;
	height: 50px;
	background-image: url(../images/our-new.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: left;
	font-size: 30px;
/*	text-align: center;*/
	line-height: 50px;
}

.img-left{
	width: 225px;
	height: 225px;
	overflow: hidden;
}
.img-left,.contant-right{
	float: left;
}
.img-left img{
/*	width: 100%;*/
	height: 100%;
	
}
.cantant-right{
	width: 360px;
	height: auto;
	overflow: hidden;
	padding-left: 20px;
	box-sizing: border-box;
/*	background: #ddd;*/
}
.re-more{
	margin-top: 15px;
	width: 135px;
	height: 40px;
	background: #222;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}
.p1{
	padding-top: 12px;
	line-height: 30px;
	font-size: 20px;
	color: #222;
	transition: all 0.2s;
}
.p1:hover{
	color: #42a5f5;
}
.p2{
	padding-top: 12px;
	line-height: 25px;
	letter-spacing: 0.05px;
}


.re-more:hover{
	background: #42a5f5;
}

/*li下面的横线*/
.list-news{
	padding: 38px 0;
	width: 585px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px dashed #ddd;
}


/*一些问题*/
.questions-right{
	width:  520px;
	height: 100%;
	float: left;
/*	background: #00f;*/
}

.UL{
	width: 100%;
	
}
.question-list{
	width: 100%;
	height: 50px;
	box-shadow:  0 0 3px 1px rgba(175,175,175,0.5);
}
.contantt{
	width:520px; 
	height: 0;
	margin: 20px 10px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 0 3px 1px rgba(175,175,175,0.3);
	transition: all 0.3s;
}

.UL .question-list{
	width: 520px;
	height: 50px;
	box-shadow: 0 0 3px 1px rgba(175,175,175,0.3);
	margin: 20px 0px;
	text-align: center;
	line-height: 50px;
	background: #fff;
	cursor: pointer;
}
.li-active{
	background: #fafafa;
}
.UL .actives{
	background: #fafafa;
}
.UL .shows{
	width: 520px;
	height: 250px;
	margin: 20px 0px;
	box-shadow: 0 0 3px 1px rgba(175,175,175,0.3);
	background: #fff;
	transition: all 0.3s;

}

.contantt p{
	width: 100%;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 15px;
	box-sizing: border-box;
	font-size: 14px;
	letter-spacing: 0.08px;
	color: #222222;
	line-height: 22px;
}

.contantt ul{
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
}
.contantt ul li{
	width: 50%;
	float: left;
	margin-bottom: 15px;
	font-size: 14px;
	color: #222;
	line-height: 1;
}





/***********our client say ***************/

.client{
	height: 490px;
	width: 100%;
	background: url(../images/bg-testomonial.jpg) no-repeat ;
}
.client-top{
	padding-top: 100px;
	box-sizing: border-box;
	height: 200px;
	width: 100%;
}
.top-client-say{
	font-size: 35px;
	text-align: center;
	line-height: 55px;
	letter-spacing: 0.08px;
	width: 50%;
	margin: 0 auto;
	height: 55px;
	background: url(../images/our-clinet.png) no-repeat center ;
}
.client-center main{
	padding-top: 20px;
	width: 85%;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
.client-center li{
	width: 50%;
	float: left;
}

.li-left{
	width: 60%;
}
.li-left .leh4,.li-left .potoph4{
	font-size: 21px;
}
.li-left .leh4,.li-left .lep{
	padding-top: 10px;
	letter-spacing: 0.08px;
	float:right;
}
.li-left .potop,.li-left .potoph4{
	padding-top: 10px;
	letter-spacing: 0.08px;
}
.li-right{
	width: 40%;
}
.li-left,.li-right{
	float: left;
}

.img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.img img{
/*	width: 100%;*/
	height: 100%;
}
/****************say end*********************/

/************footer底部*************/
footer{
	width: 100%;
	height: 85px;
	font-size: 18px;
	text-align: center;
	line-height: 85px;
	background: #1a1a1a;
}

