html,body,ul,li{
	margin: 0;padding: 0;list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
.nav{
	width: 100%;
	height: 55px;
	background: #ccc;
	display: flex;
	justify-content: space-around;
	align-items: center;
}        

.active{
	color: red;
}
.left,.lefta{
	width: 21vw;
	border-right: 1px solid #ccc;
	float: left;
}
.right,.list,.righta{
	width: 78vw;
	float: left;
}

.v-enter{
	transform: translate(100%,0);
}
.v-leave-to{
	transform: translate(-100%,0);
}
.v-enter-active,.v-leave-active{
	transition: all 1s ;
}
/*.router-link-exact-active{*/
	/*color: red;*/
/*}*/
.red{
	color: red;
}
.aaa{
	color: #f0f;
}
.d{
	position: absolute;
	top: 55px;
}
.login{
	width: 100%;
	height: 100%;
	background: rgba(87, 87, 87, 0.63);
	position: absolute;
	top: 0;
	padding: 0;
}

.container{
	width: 100%;
	height: 100%;
	background: rgba(98, 159, 97, 0.77);
	position: relative;
}
